In [54]:
import pandas as pd
all_data = pd.read_csv('world.csv')
df1 =all_data[['洲名','國家','日期','總確診數','新增確診數']]
df1['日期'] = pd.to_datetime(df1['日期'])
df2 = df1.set_index('日期')
df2

/tmp/ipykernel_43341/4194779531.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['日期'] = pd.to_datetime(df1['日期'])

            洲名   國家    總確診數  新增確診數
日期
2020-02-24  亞洲  阿富汗       5      5
2020-02-25  亞洲  阿富汗       5      0
2020-02-26  亞洲  阿富汗       5      0
2020-02-27  亞洲  阿富汗       5      0
2020-02-28  亞洲  阿富汗       5      0
...         ..  ...     ...    ...
2022-07-02  非洲  辛巴威  255586      0
2022-07-03  非洲  辛巴威  255586      0
2022-07-04  非洲  辛巴威  255726    140
2022-07-05  非洲  辛巴威  255755     29
2022-07-06  非洲  辛巴威  255805     50

[187885 rows x 4 columns]

In [55]:
df3=df2.query('國家=="台灣"')
df3

            洲名  國家     總確診數  新增確診數
日期
2020-01-16  亞洲  台灣        0      0
2020-01-17  亞洲  台灣        0      0
2020-01-18  亞洲  台灣        0      0
2020-01-19  亞洲  台灣        0      0
2020-01-20  亞洲  台灣        0      0
...         ..  ..      ...    ...
2022-07-02  亞洲  台灣  3837856  34807
2022-07-03  亞洲  台灣  3870528  32672
2022-07-04  亞洲  台灣  3893643  23115
2022-07-05  亞洲  台灣  3929627  35984
2022-07-06  亞洲  台灣  3964188  34561

[903 rows x 4 columns]

In [56]:
df4 = df3.sort_values(by='新增確診數',ascending=False)
df4

            洲名  國家     總確診數   新增確診數
日期
2022-05-14  亞洲  台灣   699824  128954
2022-05-09  亞洲  台灣   397504  128935
2022-05-27  亞洲  台灣  1735067   94796
2022-05-19  亞洲  台灣  1070561   89420
2022-05-25  亞洲  台灣  1558380   89361
...         ..  ..      ...     ...
2020-02-15  亞洲  台灣       18       0
2020-02-18  亞洲  台灣       22       0
2020-01-18  亞洲  台灣        0       0
2020-01-17  亞洲  台灣        0       0
2020-01-16  亞洲  台灣        0       0

[903 rows x 4 columns]

In [57]:
df4.iloc[:5]

            洲名  國家     總確診數   新增確診數
日期
2022-05-14  亞洲  台灣   699824  128954
2022-05-09  亞洲  台灣   397504  128935
2022-05-27  亞洲  台灣  1735067   94796
2022-05-19  亞洲  台灣  1070561   89420
2022-05-25  亞洲  台灣  1558380   89361